#!/usr/bin/make -f

#export DH_VERBOSE = 1

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --host=$(DEB_HOST_MULTIARCH) --enable-mcsat  CPPFLAGS=-DHAVE_CADICAL LIBS="-lcadical -lstdc++ -lm"

override_dh_auto_build:
	$(MAKE) CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" STRIP=echo ARCH=$(DEB_HOST_MULTIARCH)

override_dh_auto_test:
	$(MAKE) CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" ARCH=$(DEB_HOST_MULTIARCH)  check

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/tmp/ prefix=/usr ARCH=$(DEB_HOST_MULTIARCH) install

override_dh_clean:
	rm -rf build
	dh_clean

override_dh_auto_clean:
	@echo "overriding auto clean"

override_dh_strip:
	 dh_strip --dbg-package=yices2-dbg
