name: CI

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        mode: [debug, release]
        config-opt: [--enable-mcsat, --enable-thread-safety]
        env: [CC=gcc CXX=g++, CC=clang CXX=clang++]
        include:
          - os: ubuntu-latest
            mode: gcov
            config-opt: --enable-mcsat
            env: CC=gcc CXX=g++
          - os: ubuntu-latest
            mode: debug
            config-opt: --enable-thread-safety --enable-mcsat
            env: CC=gcc CXX=g++

    name: ${{ matrix.os }}|${{ matrix.mode }}|${{ matrix.config-opt }}|${{ matrix.env }}
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Cache installed dependencies
      uses: actions/cache@v3
      with:
        path: |
          /usr/local
          /usr/lib
          /usr/include
        key: ${{ runner.os }}-deps-${{ hashFiles('**/configure.ac', '**/configure') }}
        restore-keys: |
          ${{ runner.os }}-deps-

    - name: Cache build artifacts
      id: cache-build
      uses: actions/cache@v3
      with:
        path: |
          .build/
          **/.libs/
          **/*.o
          **/*.a
          **/*.so
          **/*.dylib
        key: ${{ runner.os }}-${{ matrix.mode }}-${{ matrix.config-opt }}-${{ hashFiles('**/configure.ac', '**/configure', '**/Makefile.am') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.mode }}-${{ matrix.config-opt }}-

    - name: Install Dependencies
      if: steps.cache-deps.outputs.cache-hit != 'true'
      uses: ./.github/actions/install-dependencies

    - name: Build
      if: steps.cache-build.outputs.cache-hit != 'true'
      uses: ./.github/actions/build
      with:
        mode: ${{ matrix.mode }}
        config-opt: ${{ matrix.config-opt }}
        env: ${{ matrix.env }}

    - name: Test
      uses: ./.github/actions/test
      with:
        mode: ${{ matrix.mode }}

    - name: Coverage
      if: matrix.mode == 'gcov'
      uses: ./.github/actions/coverage

    - name: Coveralls
      if: matrix.mode == 'gcov'
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: 'coverage.info'
